<template>
  <div id="app">
    <NavBar />
    <div class="center">
      <div class="msg info" v-if="message.length != 0">
        <i class="material-icons">check_circle</i><span>{{ message }}</span
        ><i class="material-icons right" @click="message = '';">clear</i>
      </div>
      <div class="msg error" v-if="error.length != 0">
        <i class="material-icons">check_circle</i><span>{{ error }}</span
        ><i class="material-icons right" @click="error = '';">clear</i>
      </div>
      <div id="bread_ma">
        <span
          :class="{breadcrumb: p != 'HOME'}"
          v-for="p in page"
          v-bind:key="p"
          >{{ p }}</span
        >
      </div>
      <main id="bocal"><router-view class="router" /></main>
    </div>
    <div class="center2">
      <img src="./assets/imgs/i5.png" /> <img src="./assets/imgs/i2.png" />
      <img src="./assets/imgs/i3.png" /> <img src="./assets/imgs/i1.png" />
    </div>
    <section id="calendar"><img src="./assets/imgs/c.png" /></section>
    <FooterBar />
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue';
import FooterBar from './components/Footer.vue';
import store from '@/store';
import shop from '@/api/shop';
import auth from '@/api/auth';

export default {
  name: 'app',
  components: {
    NavBar,
    FooterBar,
  },
  data() {
    return {
      signedin: false,
      page: ['HOME'],
      categories: [],
      shop: [],
      error: '',
      message: '',
      n_cart: 0,
    };
  },
  methods: {
    checkjwt() {},
    up_page(tab) {
      this.page = tab;
    },
    catupdate(sub) {
      if (this.categories.length == 0) this.initCat();
      shop
        .getSubCategories(sub)
        .then(res => {
          for (let i = 0; i < this.categories.length; i++) {
            if (this.categories[i].id == sub) {
              this.page[1] = this.categories[i].name.toUpperCase();
              this.categories[i].sub = res.data.sub;
              this.shop = res.data.products;
            } else {
              this.categories[i].sub = [];
            }
          }
        })
        .catch(err => {
          this.error = err.error;
        });
    },
    initCat() {
      shop
        .getCategories()
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            res.data[i].sub = [];
          }
          this.categories = res.data;
        })
        .catch(err => {
          this.error = err.message;
        });
    },
  },
  mounted() {
    const a = store.getters.cart;
    for (let i = 0; i < a.length; i++) {
      this.n_cart += a[i].nb;
    }

    auth
      .authenticate()
      .then(() => {
        this.signedin = true;
      })
      .catch(() => {
        store.commit('del_jwt');
      });
    this.initCat();
  },
};
</script>

<style lang="less" scoped>
i {
  font-family: 'Material Icons';
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;

  .info {
    background-color: #189e18;
  }

  .error {
    background-color: #ec1212;
  }

  .msg {
    position: fixed;
    width: 1100px;
    top: 105px;
    display: block;
    padding: 10px;
    z-index: 1;

    span {
      position: absolute;
      color: white;
      top: 16px;
      left: 40px;
    }

    .right {
      cursor: pointer;
    }
  }

  .center {
    margin: 120px auto;
    width: 1100px;
  }
  .center2 {
    margin: 0 auto;
    width: 1120px;
  }

  #bread_ma {
    margin-top: 20px;
    margin-bottom: 20px;

    .breadcrumb {
      margin-right: 10px;
      margin-left: 10px;

      &:before {
        content: '> ';
      }
    }
  }
  #bocal {
    display: flex;

    .router {
      margin-left: 8px;
    }
  }

  #calendar {
    background-color: #0000a71a;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
</style>
