<template>
  <section id="cart">
    <header><h1>Shopping Cart</h1></header>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Remove</th>
      </tr>
      <tr v-for="p in products" v-bind:key="p.id">
        <th class="name">
          <img src="../assets/imgs/cart/cart.png" /><span>{{ p.name }}</span>
        </th>
        <th>
          <span v-if="p.reduction == 0">${{ p.price }}</span>
          <span v-else>${{ p.price - (p.price * p.reduction) / 100 }}</span>
        </th>
        <th>
          <input type="number" v-model="p.nb" @click="up_cart(p.id, p.nb);" />
        </th>
        <th>
          <span v-if="p.reduction == 0">${{ p.nb * p.price }}</span>
          <span v-else
            >${{ p.nb * (p.price - (p.price * p.reduction) / 100) }}</span
          >
        </th>
        <th class="clear" @click="remove(p.id);"><v-icon>clear</v-icon></th>
      </tr>
    </table>

    <article id="posttab">
      <section>
        <h1>Estimate Tax</h1>
        <br />
        <p>Select your country.</p>
        <select v-model="country" class="seeable">
          <option
            v-for="c in countries"
            v-bind:key="c.id"
            :value="{id: c.id, name: c.name, tax: c.tax}"
            >{{ c.name }}</option
          >
        </select>
        <br />
      </section>
      <section>
        <h1>Discount Coupon</h1>
        <br />
        <h4>Enter a coupon if you have one.</h4>
        <input type="text" v-model="coupon.id" /><br />
        <img
          src="../assets/imgs/cart/coupon.png"
          @click="test_coupon"
          class="coupon"
        />
      </section>
      <section>
        <h1>Order Total</h1>
        <br />
        <h3>Subtotal: ${{ subtotal }}</h3>
        <br />
        <h1>Total: ${{ subtotal + country.tax - coupon.price }}</h1>
        <br />
        <img
          src="../assets/imgs/cart/checkout.png"
          @click="checkout"
          style="cursor: pointer"
        />
      </section>
    </article>
    <modal name="checkout" id="checkout" :height="500">
      <div class="middle">
        <h1>Checkout</h1>
        <span id="method">Payment method</span>
        <select v-model="debit.method">
          <option value="vs" selected>Visa</option>
          <option value="mc">Mastercard</option>
          <option value="ae">American Express</option>
          <option value="pp">Paypal</option>
        </select>
        <form
          v-on:submit.prevent="checkout_confirm"
          v-if="debit.method != 'pp'"
        >
          <span>Card number</span>
          <input
            required
            v-model="debit.card"
            class="signinput"
            type="text"
            placeholder="Number"
          /><br />
          <span>Cart secret (on the back)</span>
          <input
            required
            v-model="debit.secret"
            class="signinput"
            type="text"
            placeholder="CCV"
          /><br />
          <span>Debit card expiry month</span>
          <input
            type="month"
            min="2018-03"
            value="2018-05"
            v-model="debit.month"
            required
          /><br />
          <span>Address to ship to</span>
          <input required v-model="debit.address" />
          <h4>Give us the region where you live</h4>
          <input type="text" v-model="debit.region" required /><br />
          <h3>Total: ${{ subtotal + country.tax - coupon.price }}</h3>
          <input type="submit" value="Proceed to pay" />
        </form>
        <form v-on:submit.prevent="checkout_confirm" v-else>
          <span>Your address:</span> <input required v-model="debit.address" />
          <h4>Give us the region where you live</h4>
          <input type="text" v-model="debit.region" required /><br />
          <p>You will be redirected to PayPal to process payment.</p>
          <h3>Total: ${{ subtotal + country.tax - coupon.price }}</h3>
          <input type="submit" value="Proceed to pay" />
        </form>
      </div>
    </modal>
  </section>
</template>

<script>
import store from '@/store';
import shop from '@/api/shop';
import checkout from '@/api/checkout';

export default {
  name: 'Cart',
  data() {
    return {
      debit: {
        card: '',
        secret: '',
        month: '',
        method: '',
        address: '',
        region: '',
      },
      products: [],
      countries: [],
      subtotal: 0,
      country: {
        id: '',
        name: '',
        tax: 0,
      },
      coupon: {
        id: '',
        price: 0,
      },
    };
  },
  methods: {
    test_coupon() {
      if (this.coupon.id.length) {
        shop
          .getCoupon(this.coupon.id)
          .then(res => {
            this.$parent.message = `Coupon ${
              this.coupon.id
            } does exist! You get a $${res.data.reduction} reduction`;
            this.$parent.error = '';
            this.coupon.price = res.data.reduction;
          })
          .catch(() => {
            this.$parent.error = `Coupon ${this.coupon.id} does not exist`;
            this.$parent.message = '';
          });
      }
    },
    checkout() {
      if (store.getters.cart.length == 0) {
        this.$parent.error = 'There is nothing the send to you.';
      } else if (this.country.id == '') {
        this.$parent.error = 'Please choose a country to ship in.';
      } else {
        this.$modal.show('checkout');
      }
    },
    checkout_confirm() {
      let a = {};
      a.card = this.debit;
      a.products = this.products;
      a.coupon = this.coupon;
      a.country = this.country;
      checkout
        .proceed(a)
        .then(res => {
          this.$parent.message = res.data.msg;
          this.$parent.error = '';
          while (this.products.length) {
            this.remove(this.products[0].id);
          }
          this.$modal.hide('checkout');
          this.subtotal = 0;
          this.country.tax = 0;
          this.coupon.price = 0;
          this.$parent.n_cart = 0;
        })
        .catch(() => {
          this.$parent.message = '';
          this.$parent.error = 'There was an issue checking out your command';
          this.$modal.hide('checkout');
        });
    },
    remove(id) {
      store.commit('del_cart', id);
      for (let i = 0; i < this.products.length; i++) {
        if (this.products[i].id == id) {
          this.$parent.n_cart -= this.products[i].nb;
          this.products.splice(i, 1);
        }
      }
    },
    up_cart(id, n) {
      this.subtotal = 0;
      let new_cart = 0;
      for (let i = 0; i < this.products.length; i++) {
        if (this.products[i].id == id) {
          this.products[i].nb = n;
          let d = {};
          d.elt = id;
          d.nb = n;
          store.commit('add_n_cart', d);
        }
        new_cart += this.products[i].nb;
        this.subtotal +=
          this.products[i].nb *
          (this.products[i].price -
            (this.products[i].price * this.products[i].reduction) / 100);
      }
      this.$parent.n_cart = new_cart;
    },
  },
  mounted() {
    this.$parent.page = ['HOME', 'SHOPPING CART'];
    const data = store.getters.cart;

    shop
      .getCountries()
      .then(res => {
        this.countries = res.data;
      })
      .catch(() => {
        this.$parent.error = 'Could not access countries list.';
      });

    for (let i = 0; i < data.length; i++) {
      shop
        .getProduct(data[i].id)
        .then(res => {
          res.data.nb = data[i].nb;
          this.products.push(res.data);
          this.subtotal +=
            res.data.nb *
            (res.data.price - (res.data.price * res.data.reduction) / 100);
        })
        .catch();
    }
  },
};
</script>

<style lang="less" scoped>
input,
select {
  background-color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#cart {
  #checkout {
    .middle {
      padding: 10px;

      #method {
        font-size: 20px;
      }
    }
  }

  #posttab {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    section {
      h1 {
        font-size: 22px;
      }
      .coupon {
        cursor: pointer;
      }
    }
  }

  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
  }
  table {
    width: 900px;
    border-collapse: collapse;

    th,
    td {
      padding: 15px;
    }

    .clear {
      cursor: pointer;
      text-align: center;
    }

    .name {
      display: flex;

      span {
        margin-top: 35px;
        margin-left: 10px;
      }
    }
  }
}
</style>
