<template>
  <section id="flex">
    <aside>
      <ul id="shopby">
        <h2 class="serin">Shop by</h2>
        <h3 class="serin">Categories</h3>
        <section id="categories">
          <article v-for="item in $parent.categories" v-bind:key="item.id">
            <p @click="cat(item);">{{ item.name }}</p>
            <section class="subcat">
              <p
                @click="bread(item, sub);"
                v-for="sub in item.sub"
                v-bind:key="sub.id"
              >
                {{ sub.name }}
              </p>
            </section>
          </article>
        </section>
      </ul>
    </aside>

    <section id="prods">
      <img src="../assets/imgs/banner.png" />
      <article id="categ_info">
        <h1>
          {{ this.$parent.page[this.$parent.page.length - 1] }}
          <small
            >({{ this.$parent.shop.length }}
            {{ this.$parent.shop.length == 1 ? 'item' : 'items' }})</small
          >
        </h1>
        <div>
          <img src="../assets/imgs/disp.png" />
          <img src="../assets/imgs/15.png" />
          <img src="../assets/imgs/pos.png" />
          <img src="../assets/imgs/up.png" />
        </div>
      </article>
      <article id="productsholder">
        <section class="products" v-for="p in $parent.shop" v-bind:key="p.id">
          <img
            src="../assets/imgs/new.png"
            class="newpr"
            v-if="
              Math.floor(new Date(p.registered).getTime() / 1000) >
                Math.floor(Date.now() / 1000) - 60 * 60 * 24 * 7
            "
          />
          <span v-if="p.reduction" class="reduction">{{ p.reduction }}%</span>
          <img src="../assets/imgs/product_logo.png" class="logo" />
          <h2>
            <router-link :to="{path: `/products/${p.id}`, params: {p}}">
              {{ p.name }}
            </router-link>
          </h2>
          <p v-if="p.reduction">
            <s>${{ p.price }}</s>
            <span class="reduc">${{ p.price - (p.price * p.reduction) / 100 }}</span>
          </p>
          <p v-else>${{ p.price }}</p>
          <v-rating
            v-model="p.rating / 2"
            readonly
            background-color="indigo lighten-3"
            half-increments
          ></v-rating>
          <div class="imgs" v-if="$parent.signedin">
            <img
              src="../assets/imgs/add.png"
              class="addcart"
              @click="to_cart(p.id, p.name);"
            />
            <div>
              <img src="../assets/imgs/arrows.png" />
              <img src="../assets/imgs/coupon.png" />
            </div>
          </div>
        </section>
      </article>
    </section>
  </section>
</template>

<script>
import shop from '@/api/shop';
import store from '@/store';

export default {
  name: 'Category',
  data() {
    return {
      error: '',
      category: '',
      categories: [],
    };
  },
  methods: {
    cat(where) {
      this.$parent.catupdate(where.id);
      this.$parent.page = ['HOME', where.name.toUpperCase()];
      this.$router.push(`/category/${where.id}`);
    },
    to_cart(id, name) {
      store.commit('add_cart', id);
      this.$parent.n_cart++;
      this.$parent.message = `'${name}' added to cart. You can change the amount
        you want to buy in the cart section.`;
    },
    bread(cat, sub) {
      this.$parent.page = [
        'HOME',
        cat.name.toUpperCase(),
        sub.name.toUpperCase(),
      ];
      this.$router.push(`/category/${cat.id}/${sub.id}`);
      shop
        .getSubProducts(sub.id)
        .then(res => {
          this.$parent.shop = res.data;
        })
        .catch();
    },
  },
  mounted() {
    if (this.$route.params.cat) {
      shop
        .getSubProducts(this.$route.params.id)
        .then(res => {
          this.$parent.shop = res.data;
        })
        .catch();

      this.$parent.page = [
        'HOME',
        this.$route.params.cat.toUpperCase(),
        this.$route.params.id.toUpperCase(),
      ];
    } else {
      this.$parent.page = ['HOME', this.$route.params.id.toUpperCase()];
      this.$parent.catupdate(this.$route.params.id);
    }
  },
};
</script>

<style lang="less" scoped>
#flex {
  display: flex;

  #prods {
    margin-top: 16px;
    margin-left: 10px;

    #categ_info {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d2d2d2;
      margin-bottom: 20px;
      padding-bottom: 10px;

      h1 {
        margin-top: 15px;
      }

      div {
        margin-top: 8px;
      }
    }

    #productsholder {
      display: flex;
      width: 880px;

      .reduc {
        color: red;
        font-weight: bold;
        font-size: 20px;
      }

      .products {
        width: 293px;
        position: relative;

        .imgs {
          display: flex;
          justify-content: space-between;

          .addcart {
            cursor: pointer;
          }
        }

        .reduction {
          position: absolute;
          left: 66px;
          background-color: red;
          color: white;
          font-weight: bold;
          font-size: 20px;
          border-radius: 26px;
          padding: 16px 10px;
        }

        .logo {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        .newpr {
          position: absolute;
          left: 172px;
          height: 55px;
        }
      }
    }
  }

  aside {
    width: 200px;
    #shopby {
      padding: 0;

      h2 {
        background-color: #dbdbdb;
      }

      .serin {
        border: 1px solid black;
        border-bottom: none;
        padding: 10px;
        margin: 0;
      }

      #categories {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-bottom: none;
        padding: 10px;

        article {
          padding-left: 10px;
        }

        p {
          font-size: 16px;
          cursor: pointer;
        }

        .subcat {
          display: flex;
          flex-direction: column;
          margin-left: 15px;
        }
      }
    }
  }
}
</style>
