<template>
  <footer>
    <section id="colorful_imgs"><img src="../assets/imgs/ad1.png" /></section>

    <section class="footer-zone">
      <article id="social">
        <a href="/"><img src="../assets/imgs/fb.png" /><span>Facebook</span></a>
        <a href="/"><img src="../assets/imgs/tw.png" /><span>Twitter</span></a>
        <a href="/"><img src="../assets/imgs/yt.png" /><span>Youtube</span></a>
        <a href="/"
          ><img src="../assets/imgs/rss.png" /><span>RSS Feed</span></a
        >
      </article>
      <article class="right">
        <img src="../assets/imgs/m/pp.png" />
        <img src="../assets/imgs/m/vs.png" />
        <img src="../assets/imgs/m/mc.png" />
        <img src="../assets/imgs/m/ae.png" />
      </article>
    </section>

    <section class="footer-zone bottom">
      <span>Made by Guillaume Kessibi following the SoftMarket Template</span>
      <div class="right">
        <span id="lang"> <span>EN</span> <span>FR</span> <span>ES</span> </span>
        <div id="currency"><span>$</span> <span>€</span> <span>£</span></div>
      </div>
    </section>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="less" scoped>
footer {
  width: 1100px;
  margin: 0 auto;

  .bottom {
    padding-top: 10px;
    border-top: 1px solid #0003;
  }

  .footer-zone {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    #social {
      margin-bottom: 4px;

      a {
        display: inline-flex;
        margin-right: 15px;

        span {
          margin-top: 10px;
          margin-left: 3px;
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-between;

      #currency {
        margin-left: 30px;

        span {
          margin-left: 10px;
          cursor: pointer;
        }
      }

      #lang {
        span {
          margin-left: 10px;
          cursor: pointer;
        }
      }

      img {
        height: 13px;
        margin-left: 5px;
        padding-top: 16px;
      }
    }
  }
}
</style>
