<template>
  <main>
    <header>
      <h1>Feel free to navigate on the website using the top navbar.</h1>
    </header>
  </main>
</template>

<script>
export default {
  name: 'Index',
  data() {
    return {};
  },
  mounted() {
    this.$parent.page = ['HOME'];
  },
};
</script>

<style lang="less" scoped>
main {
  width: 1120px;
  header {
    text-align: center;
  }
}
</style>
