<template>
  <nav>
    <modal name="signin" id="signin">
      <div class="middle">
        <h1>Connect</h1>
        <form v-on:submit.prevent="signin">
          <input
            v-model="user_id"
            class="signinput"
            type="email"
            placeholder="Email"
          />
          <input
            v-model="password"
            class="signinput"
            type="password"
            placeholder="password"
          />
          <input type="submit" value="Connect" />
        </form>
      </div>
    </modal>
    <modal name="signup">
      <div class="middle">
        <h1>Create an account</h1>
        <form v-on:submit.prevent="signup">
          <input
            class="signinput"
            type="text"
            placeholder="Email"
            v-model="email"
          />
          <input
            class="signinput"
            type="password"
            placeholder="password"
            v-model="password"
          />
          <input type="submit" value="Create an account" />
        </form>
      </div>
    </modal>

    <div id="topbar">
      <span>
        Shop by Phone <b>(01) 123 456 SM <a href="/">Live Chat With Us</a></b>
      </span>
      <span class="right" v-if="$parent.signedin">
        <span class="dropdown" id="account" @click="dropdown_menu"
          >My Account <span class="triangle">▼</span></span
        >
        <router-link class="dropdown" id="cart" :to="{path: '/cart'}"
          >My Cart ({{ $parent.n_cart }})
        </router-link>
      </span>
      <span class="right" v-else>
        <span class="dropdown" @click="show_m('signin');">Connect</span>
        <span class="dropdown borderleft" @click="show_m('signup');"
          >Create an account</span
        >
      </span>
    </div>
    <div id="menu" v-bind:class="{hidden: isHidden}" v-if="$parent.signedin">
      <span @click="logout">Logout</span>
      <router-link :to="{path: '/transactions'}" tag="span">My transactions</router-link>
    </div>

    <div id="lowbar">
      <router-link :to="{path: '/'}"
        ><img src="../assets/imgs/nav_logo.png"
      /></router-link>
      <div id="types_menu">
        <span
          v-for="cat in $parent.categories"
          v-bind:key="cat.id"
          @click="cate(cat);"
        >
          {{ cat.name.toUpperCase() }}
        </span>
        <form v-on:submit.prevent="search" v-if="$route.params.id">
          <input
            id="search_input"
            v-model="search_query"
            placeholder="Search"
          />
        </form>
      </div>
    </div>
    <hr />
  </nav>
</template>

<script>
import auth from '@/api/auth';
import store from '@/store';
import shop from '@/api/shop';

export default {
  name: 'NavBar',
  data() {
    return {
      search_query: '',
      username: '',
      email: '',
      password: '',
      user_id: '',
      isHidden: true,
    };
  },
  methods: {
    cate(where) {
      where.s = {};
      this.$parent.catupdate(where.id);
      this.$router.push(`/category/${where.id}`);
      this.$parent.page = ['HOME', where.name.toUpperCase()];
    },
    search() {
      shop
        .search(this.search_query)
        .then(res => {
          this.$parent.shop = res.data.results;
          this.$parent.page = ['HOME', `QUERY: ${res.data.query}`];
        })
        .catch();
    },
    show_m(modal) {
      this.$modal.show(modal);
    },
    dropdown_menu() {
      if (this.isHidden) this.isHidden = false;
      else this.isHidden = true;
    },
    signup() {
      auth
        .signup(this.email, this.password)
        .then(res => {
          store.commit('add_jwt', res.data.token);
          this.$modal.hide('signup');
          this.$parent.signedin = true;
          this.$parent.message =
            'Successfully created the account and logged you in';
        })
        .catch(() => {
          this.$parent.error =
            'User could not be added to database, it may already exist';
          this.$modal.hide('signup');
        });
    },
    signin() {
      auth
        .signin(this.user_id, this.password)
        .then(res => {
          store.commit('add_jwt', res.data.token);
          this.$modal.hide('signin');
          this.$parent.signedin = true;
          this.$parent.message = 'Successfully loggd in';
        })
        .catch(err => {
          this.$parent.error = err.error;
          this.$modal.hide('signin');
          this.$parent.error = 'Could not sign in, double check your password';
        });
    },
    logout() {
      store.commit('del_jwt');
      this.$parent.signedin = false;
      this.isHidden = true;
      this.$parent.n_cart = 0;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
@link: #1c6ea2;

nav {
  width: 1100px;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  background-color: white;
  left: 0;
  top: 0;
  right: 0;

  hr {
    color: #d1d1d14d;
    margin-top: 10px;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    input {
      background-color: white;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .middle {
    margin: 0 auto;
    width: 400px;
  }

  .hidden {
    display: none !important;
  }

  #menu {
    position: absolute;
    background-color: white;
    font-size: 13px;
    right: 87px;
    top: 20px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 5px;
    display: flex;
    flex-direction: column;

    span {
      padding: 5px 5px 0px 50px;
      cursor: pointer;

      &:hover {
        background-color: #a1c6e4;
      }
    }
  }

  #topbar {
    font-size: 13px;
    display: flex;
    justify-content: space-between;

    .right {
      margin-right: 0;

      .dropdown {
        cursor: pointer;

        .triangle {
          font-size: 8px;
        }
      }

      .borderleft {
        margin-left: 10px;
        border-left: 1px solid #b6b6b6;
        padding-left: 10px;
      }

      #account {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #bcbcbcb3;
      }
    }

    a {
      text-decoration: none;
      color: @link;
    }
  }

  #lowbar {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    #types_menu {
      display: flex;
      justify-content: space-between;
      width: calc(~'100% - 213px');

      form {
        margin: 0;

        input {
          margin: 0;
        }
      }

      span {
        margin-top: 10px;
        cursor: pointer;
        color: #644e84;
        text-decoration: none;
      }

      #search_input {
        background: url('../assets/imgs/search_icon.png') no-repeat 190px 11px;
        padding: 8px 0px 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
}
</style>
