<template>
  <section class="product">
    <h1>{{ p.name }}</h1><br>
    <img src="../assets/imgs/product_logo.png" class="logo" />
    <img
      src="../assets/imgs/new.png"
      class="newpr"
      v-if="
        Math.floor(new Date(p.registered).getTime() / 1000) >
          Math.floor(Date.now() / 1000) - 60 * 60 * 24 * 7
      "
    />
    <span v-if="p.reduction" class="reduction">{{ p.reduction }}%</span>
    <br><h2>${{ p.price }}</h2>
    <v-rating
      v-model="p.rating"
      readonly
      background-color="indigo lighten-3"
      half-increments
    ></v-rating>
    <h3>{{ p.description }}</h3>
    <div class="imgs" v-if="$parent.signedin">
      <img
        src="../assets/imgs/add.png"
        class="addcart"
        @click="to_cart(p.id, p.name);"
      />
      <div>
        <img src="../assets/imgs/arrows.png" />
        <img src="../assets/imgs/coupon.png" />
      </div>
    </div>
  </section>
</template>

<script>
import shop from '@/api/shop';
import store from '@/store';

export default {
  name: 'Product',
  data() {
    return {
      p: {},
    };
  },
  methods: {
    to_cart(id, name) {
      store.commit('add_cart', id);
      this.$parent.n_cart++;
      this.$parent.message = `'${name}' added to cart`;
    },
  },
  mounted() {
    shop
      .getProduct(this.$route.params.id)
      .then(res => {
        this.p = res.data;
        res.data.rating /= 2;
        this.$parent.page = ['HOME', res.data.name.toUpperCase()];
      })
      .catch();
  },
};
</script>

<style lang="less" scoped>
.product {
  width: 293px;
  position: relative;
  text-align: center;
  margin: 0 auto !important;

  .imgs {
    display: flex;
    justify-content: space-between;

    .addcart {
      cursor: pointer;
    }
  }
  .reduction {
    position: absolute;
    left: 67px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 26px;
    padding: 16px 10px;
    top: 38px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .newpr {
    position: absolute;
    left: 172px;
    top: 38px;
    height: 55px;
  }
}
</style>
