<template>
  <section id="transactions">
    <h1>My transactions</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Price</th>
        <th>Coupon</th>
        <th>Address</th>
        <th>Region</th>
        <th>Country</th>
      </tr>
      <tr v-for="tr in transactions" v-bind:key="tr.id">
        <th>{{ tr.id }}</th>
        <th>${{ tr.price }}</th>
        <th>{{ tr.coupon }}</th>
        <th>{{ tr.address }}</th>
        <th>{{ tr.region }}</th>
        <th>{{ tr.country }}</th>
      </tr>
    </table>
  </section>
</template>

<script>
import checkout from '@/api/checkout';

export default {
  name: 'transaction',
  data() {
    return {
      transactions: [],
    };
  },
  mounted() {
    checkout
      .transactions()
      .then(res => {
        this.transactions = res.data;
      })
      .catch(() => {
        this.$parent.error =
          'Could not get past transactions, feel free to reload';
      });
  },
};
</script>

<style lang="less" scoped>
#transactions {
  table {
    th {
      width: 150px;
    }
  }
}
</style>
